{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Recipe App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'recipe/css/styles.css' %}">
</head>
<body>
    <div class="home-container">
        <h1>Welcome to our Recipe App</h1>
        <p>Discover delicious recipes and improve your cooking skills.</p>
        <img src="{% static 'recipe/images/recipeHome.jpeg' %}" alt="home" class="recipe-detail-image">
        <a href="{% url 'recipe:recipe_list' %}" class="enter-link">Enter Recipe List</a>
    </div>
</body>
</html>