{% extends 'base/base.html' %}
{% load static %}
{% block title %}Recipe Home{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'recipe/css/recipe-list.css' %}">
{% endblock %}
{% block content %}
    <header>
        <h1>Recipe List</h1>
    </header>

    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">search</button>
    </form>

    {% if recipe_df_html %}
        <div class="center-content">
            {{ recipe_df_html|safe }} 
            <br>
            <img src="data:image/png;base64, {{chart|safe}}">
        </div>
    {% else %}
        <h3 class="no-data">no data</h3>
    {% endif %}

    <div class="container recipe-list">
        {% for recipe in recipes %}
        <div class="recipe">
            <h2><a href="{% url 'recipe:recipe_detail' recipe.id %}" class="recipe-link">{{ recipe.name }}</a></h2>
            <img src="{{ recipe.pic.url }}" alt="{{ recipe.name }}" class="recipe-image">
            <p>Cooking Time: {{ recipe.cooking_time }} minutes</p>
            <p>Difficulty: {{ recipe.difficulty }}</p>
            <p>{{ recipe.description|slice:":100" }}...</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}