/* recipe-detail.css */

/* General Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #555;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center; /* Center align content */
}

/* Recipe Detail Styles */
.recipe-detail-image {
    display: block;
    margin: 20px auto;
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.recipe-details p {
    font-weight: bold;
    text-align: center;
}

.description, .ingredients, .instructions {
    margin-top: 20px;
    text-align: center; /* Center align titles */
}

.ingredients ul {
    list-style-type: none;
    padding: 0;
}

.ingredients li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}